@model TechChallengue.Models.Player

@{
    ViewData["Title"] = "First Player";
}

<div class="container text-center">
    <h1 class="display-4 first-title">Elije tu movimiento Jugador: </h1>
    <h1 class="display-4 second-title">@ViewData["FirstPlayerName"]</h1>
    <p class="first-subtitule">Juego De Piedra, Papel o Tijera</p>
</div>

<div class="container d-flex justify-content-center ">
    <div class="col-md-4 mb-4 text-center ">
        <form method="post" asp-action="FirstMove" asp-controller="Players">
            <input type="hidden" name="playerId" value="@ViewData["FirstPlayerId"]" />

            <button type="submit" name="moveType" value="Rock" class="btn btn-primary boton-eleccion">Piedra</button>
            <button type="submit" name="moveType" value="Paper" class="btn btn-primary boton-eleccion">Papel</button>
            <button type="submit" name="moveType" value="Scissors" class="btn btn-primary boton-eleccion">Tijera</button>



        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
